<div class= "questions-answer-container">
    <div>
      <% question = @question %>
        <div class="card border-primary shadow p-3 mb-5 bg-body rounded">
          <div id="question -<%= question.id %>">
            <div class="question-card">
              <p class= "title-text"><%= question.title %></p>
              <p class= "content-text"><%= question.content %></p>
            </div>
          </div>
        </div>
    </div>

  <h3>Reply to the question</h3>

  <%= simple_form_for([ @question, @answer ]) do |f| %>
    <div class="card border-secondary shadow p-3 mb-5 bg-body rounded">
      <div class="card-body text-secondary">
        <%= f.input :content %>
        <%= f.button :submit, class:"btn btn-primary yellow-button" %>
      </div>
    </div>
  <% end %>

  <h3>Answers</h3>

  <% @question.answers.each do |answer| %>
    <% content_limit = 50 %>
    <div class="p-3 border bg-white mb-3" data-controller="show-more">
      <%= link_to profile_path(answer.user) do %>
        <p class="content-text"><%= cl_image_tag answer.user.photo.key, height: 51, width: 55%>
      <% end %>
        <%= link_to answer.user.name, profile_path(answer.user), class: "username-text" %>
          answered <%= time_ago_in_words(answer.created_at) %> ago</p>
      <p data-show-more-target="truncated"><%= answer.content.truncate(content_limit) %></p>
      <p class= "d-none" data-show-more-target="full"><%= answer.content %></p>
      <%= link_to "Read more", "#", "data-action": 'click->show-more#showContent' if answer.content.length > content_limit%>
    </div>
  <% end %>
</div>
