<div>
    <% question = @question %>
      <div class="questions">
       <div class="question-card">
          <div id="question-<%= question.id %>">
          <p><%= question.title %></p>
           <p><%= question.content %></p>
          </div>
        </div>
      </div>
</div>

<h3>Reply to the question</h3>


<%= simple_form_for([ @question, @answer ]) do |f| %>
  <%= f.input :content %>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>

<h3>Answers</h3>
<% @question.answers.each do |answer| %>
  <p><%= answer.content %></p>
<% end %>
