<div class="container center-content">

  <div class="d-flex justify-content-center pt-4">
    <%= cl_image_tag @user.photo.key, height: 180, width: 180, crop: :fill,  class: "rounded-circle"%>
  </div>
  <h2 class="pt-3 pb-3 d-flex justify-content-center"><%= @user.name %></h2>
  <div class="d-flex justify-content-center">
    <%= link_to "mailto:#{@user.email}" do %>
      <button class="yellow-button pt-3">Message</button>
    <% end %>
  </div>

  <div>
    <div class="pt-3 d-flex justify-content-center">
      <%= link_to "#{@user.linkedin_url}" do %>
        <%= image_tag('profile/Linkedin.png',  class: "icon-profile pr-2 rounded-circle")  %>
      <% end %>
      <p style = "width: 100px;"> </p>
      <%= link_to "https://twitter.com/#{@user.twitter_handle}" do %>
        <%= image_tag('profile/Twitter.png',  class: "icon-profile pl-2") %>
      <% end %>
    </div>
  </div>

  <ul class="d-flex justify-content-around pt-3">
    <%= "Law Firm: #{@user.law_firm}"%>
    <p>|</p>
    <%= "Education: #{@user.education}"%>
    <p>|</p>
    <%= "Location: #{@user.location}"%>
  </ul>

  <div class="gradient-bg px-4 py-4 rounded-3">
    <h4 class="text-white pl-2">About:</h4>
    <p class= "text-white">Bilingual executive lawyer
    focused on creating strategies and projects in business development,
    foreign trade, economic promotion and participation in trade missions with
    potential national and foreign entrepreneurs in various sectors.
    Result driven, ready for all challenges.
    </p>
  </div>

  <div class="forum-questions ">
    <h1>Posts</h1>
      <% @user.answers.each do |answer| %>
        <div class="card border-secondary shadow p-3 mb-5 bg-body rounded">
          <div id="question-<%= answer.id %>">
            <div class="card-body text-secondary">
              <h5 class="card-title"><%=link_to answer.question.title, question_path(answer.question) %></h5>
              <p class="card-text"><%= answer.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
