
<div class="subpages-banner">
  <h1>FORUM</h1>
</div>

<div class="add-a-new-question-section-container">
  <p> The lawyers of the accesible rights community are here to help!</p>
  <div class="line"></div>
  <h1>Choose a category to filter questions and answers</h1>
</div>
  <br>

<div class= "container forums-container">

    <div class="text-center forum-category-card">
      <%= link_to forum_path("Resiging") do %>
        <h3>Resigning</h3>

        <%= image_tag('blue_resign_icon.png', class: "blue-resign-icon icon-size") %>
      <% end %>
    </div>
    <div class="text-center forum-category-card">
      <%= link_to forum_path("Unpaid Hours") do %>
        <h3>Unpaid hours</h3>
        <%= image_tag('blue_unpaid_hours_icon.png', class: "blue-resign-icon icon-size") %>
      <% end %>
    </div>
    <div class="text-center forum-category-card">
      <%= link_to forum_path("Unpaid Bonus") do %>
        <h3>Unpaid Bonus</h3>
        <%= image_tag('blue_unpaid_bonus_icon.png', class: "blue-resign-icon icon-size") %>
      <% end %>
    </div>
    <div class="text-center forum-category-card">
      <%= link_to forum_path("Termination") do %>
        <h3>Termination</h3>
        <%= image_tag('contract-blue.png', class: "blue-resign-icon icon-size") %>
      <% end %>
    </div>
  </div>

  <hr class="forum-section-break-line">

<div class="forum-form-container">
<h1>Ask a question</h1>
  <%= simple_form_for [ @forum, @question ] do |f| %>
    <%= f.input :title, placeholder: "Whats your question?" %>
    <%= f.input :content, placeholder: "Add detailed information about your question" %>
    <p><%= f.submit "Add question", class: "submit-question-button" %></p>
  <% end %>
</div>

  <hr class="forum-section-break-line">

  <div class="forum-questions ">
    <h1><%= @forum.name %></h1>
      <% @forum.questions.each do |question| %>
        <div class="card border-secondary shadow p-3 mb-5 bg-body rounded">
        <div id="question-<%= question.id %>">
          <div class="card-body text-secondary">
            <h5 class="card-title"><%=link_to question.title, question_path(question) %></h5>
            <p class="card-text"><%= question.content %></p>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
