<div class = "container ">
  <div class=" from-inputs row justify-content-center align-items-center mt-3 mx-5">
    <h2 class = "text-center pt-5">Edit <%= resource_name.to_s.humanize %></h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>


          <%= f.input :photo,
                      hint: "upload a new photo",
                      required: true,
                      input_html: { autocomplete: "upload-a-new-photo" } %>


          <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>


          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>


          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>


          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>


          <%= f.input :job_title,
                      hint: "we need your current job title to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-job-title" } %>


          <%= f.input :location,
                      hint: "we need your current location to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-location" } %>


          <%= f.input :education,
                      hint: "we need your education to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "education" } %>


          <%= f.input :law_firm,
                      hint: "we need your current law firm to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-law-firm" } %>


          <%= f.input :bio,
                      hint: "we need your bio to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "your-bio" } %>


          <%= f.input :twitter_handle,
                      hint: "we need your twitter-handel to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "twitter-handel" } %>


          <%= f.input :linkedin_url,
                      hint: "we need your linkedin to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "linkedin" } %>


        <div class="form-actions btn btn-primary rounded text-light">
          <%= f.button :submit,"Update" %>
        </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p class = >Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
