<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/stylesheets/components/footer.scss">
</head>

<body>
    <div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="fab fa-github"></i></a><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-instagram"></i></a></div>
            <ul class="list-inline">
              <%= link_to root_path do %>
                <li class="list-inline-item">Home</li>
              <% end %>
              <%= link_to termination_path do %>
                <li class="list-inline-item">Terminated</li>
              <% end %>
              <%= link_to resignation_path do %>
                <li class="list-inline-item">Resigning</li>
              <% end %>
              <%= link_to unpaid_bonus_path do %>
                <li class="list-inline-item">Unpaid Bonus</li>
              <% end %>
              <%= link_to unpaid_hours_path do %>
                <li class="list-inline-item">Unpaid Hours</li>
              <% end %>
              <%= link_to new_calculation_path do %>
                <li class="list-inline-item">Calculator</li>
              <% end %>
            </ul>
            <p class="copyright">Accesible Rights © 2022</p>
        </footer>
    </div>
</body>

</html>
