<div class="termination-banner">
  <div class="container">
    <h1 class="banner-title">Termination</p>
    <div class="line"></div>
  </div>
</div>


<div class="main-section-container">
  <div class="title-container">
    <h1>Termination</h1>
    <p>Find out more information about termination and
    <br>
     your rights as an employee</p>
    <div class="line"></div>

<br>

  </div>
  <div class="explanation-container">
    <h3>Where you unfairly terminated from your job?</h3>
    <p>
      And unfair dismissal is when you are fired from your work unilaterraly by your employer
      without one of the established causes by the labor law.
    </p>
    <p>
      It is important to know that if you where unfairly terminated you are entitled to a fair settlement.
      So besides of a settlment that includes the proportional parts of your christmas bonus, vacations, vacation bonus and worked
      days that have not been paid; your employer should also pay you and compensation equal to three months of your salary.
    </p>
    <h3>What can you do if you were unfairly terminated?</h3>
    <p>
      Your should know that if you are unfairly terminated you can demmand from your employer, either the compensation of three months of salary
      or the inmediate reinstatement to your job, if your employer refueses, the law protects you, so there are several resources you have at your
      disposal to defend your rights.
    </p>
    <ul>
      <li>The federal office for the defense of the worker, can
      provide with free legal advice. you can contact them <a href="https://www.gob.mx/profedet">here.</a>
      </li>
      <li>Your local conciliation and arbitration board can help you mediate with your employer
      to arrive to a friendly solution.</li>
      <li>If everything else fails you can sue your former employer and be provided with a free defense attorney.</li>
    </ul>

    <br>

    <p>
      If you are not sure if your settlement is correct you can use our <a href="calculations/new">calculator </a>
      It will give you an estimated amount, based off of the information provided.
    </p>
    <p>
      Also you can consult our <a href="forums/Termination">forum </a>and ask our community of law professionals
      or see if someone has had the same question as you.
    </p>
  </div>

  <hr class="section-break-line">

  <div class="next-steps-section">
    <h2>Dig deeper into next steps</h2>
      <div class="cards-container">
        <div class="individual-card-container">
          <%= image_tag('ask_a_question_icon.png', class: "question-icon") %>
          <%= link_to forum_path("Termination") do %>
            <button class="next-steps-button">Ask a question</button>
          <% end %>
        </div>
        <div class="individual-card-container">
          <%= image_tag('calculator_icon.png', class: "calculator-icon") %>
          <%= link_to new_calculation_path do %>
            <button class="next-steps-button">Calculator</button>
          <% end %>
        </div>
      </div>
  </div>

  <hr class="section-break-line">

  <div class="related-problems-section">
    <h2>Related problems you might want to check</h2>
    <div class="sections-container">
        <div class="individual-section-container">
          <h3>Resigning</h3>
          <%= image_tag('blue_resign_icon.png', class: "blue-icon") %>
          <%= link_to resignation_path do %>
            <button class="categories-button">Read</button>
          <% end %>
        </div>
        <div class="individual-section-container">
          <h3>Unpaid Bonus</h3>
          <%= image_tag('blue_unpaid_bonus_icon.png', class: "blue-icon") %>
          <%= link_to unpaid_bonus_path do %>
            <button class="categories-button">Read</button>
          <% end %>
        </div>
        <div class="individual-section-container">
          <h3>Unpaid hours</h3>
          <%= image_tag('blue_unpaid_hours_icon.png', class: "blue-icon") %>
          <%= link_to unpaid_hours_path do %>
            <button class="categories-button">Read</button>
          <% end %>
        </div>
     </div>
    </div>
</div>
