<div class="unpaid-hours-banner">
  <div class="container">
    <h1 class="banner-title">Unpaid hours</p>
    <div class="line"></div>
  </div>
</div>


<div class="main-section-container">
  <div class="title-container">
    <h1>Unpaid Hours</h1>
    <p>Find out more information about unpaid hours and
    <br>
     your rights as an employee</p>
    <div class="line"></div>

<br>

  </div>
  <div class="explanation-container">
    <h3>Your employer don't pay your extra hours?</h3>
    <p>
      According to the labor law, the labour day should not exceed 8 hours a day, in case this happen extraordinarily
      your employer should pay you double the amount for each extra hour worked.
    </p>
    <p>
      The extra working hours should never exceed more tan 3 hours a day or 9 hours a week, if this happens the worker
      is entitled yo a pay equal to a 200% extra pay for each worked hour, but he isn't obligated to work this extra hours.
    </p>
    <h3>What can you do if your employer is forcing you to work extra hours and not paying them?</h3>
    <p>
      The law protects you, so there are several resources you have at your disposal to defend your
      rights.
    </p>
    <ul>
      <li> You can make a complaint to the <a href="https://www.gob.mx/stps">ministry of labour</a>, wich is in charge of overseeing the compliance
      of the labor law.
      </li>
      <li>The federal office for the defense of the worker, will provide you with legal advice.
      you can contact them <a href="https://www.gob.mx/profedet">here.</a>
      </li>
      <li>Your local conciliation and arbitration board can help you mediate with your employer
      to arrive to a friendly solution.</li>
      <li>If everything else fails you can sue your former employer and be provided with a free defense attorney.</li>
    </ul>

    <br>

    <p>
      You can consult our <a href="forums/Unpaid%20Hours">forum </a>and ask our community of law professionals
      or see if someone has had the same question as you.
    </p>
  </div>

  <hr class="section-break-line">

  <div class="next-steps-section">
    <h2>Dig deeper into next steps</h2>
      <div class="cards-container">
        <div class="individual-card-container">
          <%= image_tag('ask_a_question_icon.png', class: "question-icon") %>
          <%= link_to forum_path("Unpaid Hours") do %>
            <button class="next-steps-button">Ask a question</button>
          <% end %>
        </div>
        <div class="individual-card-container">
          <%= image_tag('calculator_icon.png', class: "calculator-icon") %>
          <%= link_to new_calculation_path do %>
            <button class="next-steps-button">Calculator</button>
          <% end %>
        </div>
      </div>
  </div>

  <hr class="section-break-line">

  <div class="related-problems-section">
    <h2>Related problems you might want to check</h2>
    <div class="sections-container">
        <div class="individual-section-container">
          <h3>Resigning</h3>
          <%= image_tag('blue_resign_icon.png', class: "blue-icon") %>
          <%= link_to resignation_path do %>
            <button class="categories-button">Read</button>
          <% end %>
        </div>
        <div class="individual-section-container">
          <h3>Terminated</h3>
          <%= image_tag('blue_termination_icon.png', class: "blue-icon") %>
          <%= link_to termination_path do %>
            <button class="categories-button">Read</button>
          <% end %>
        </div>
        <div class="individual-section-container">
          <h3>Unpaid Bonus</h3>
          <%= image_tag('blue_unpaid_bonus_icon.png', class: "blue-icon") %>
          <%= link_to unpaid_bonus_path do %>
            <button class="categories-button">Read</button>
          <% end %>
        </div>
     </div>
    </div>
</div>
